config DEVMEM
	bool "Memory device driver"
	default y
	help
	  The memory driver provides two character devices, mem and kmem, which
	  provide access to the system's memory. The mem device is a view of
	  physical memory, and each byte in the device corresponds to the
	  matching physical address. The kmem device is the same as mem, but
	  the addresses correspond to the kernel's virtual address space rather
	  than physical memory. These devices are standard parts of a Linux
	  system and most users should say Y here. You might say N if very
	  security conscience or memory is tight.

config S3C_MEM
	bool "Support for /dev/s3c-mem"
	default n
	---help---
	  If you do say Y here, you can allocate physically linear memories from system memory.
	  And you can share the memory at the other process using re-allocation ioctl.

	  If unsure, say Y.

config EXYNOS_MEM
	bool "Support for /dev/exynos-mem"
	depends on CMA
	default n
	help
	  If you do say Y here, you can mmap using physically linear memories.
	  And you can flush it using ioctl.
