config SYNC
	bool "Synchronization framework"
	default n
	select ANON_INODES
	help
	  This option enables the framework for synchronization between multiple
	  drivers.  Sync implementations can take advantage of hardware
	  synchronization built into devices like GPUs.

config SW_SYNC
	bool "Software synchronization objects"
	default n
	depends on SYNC
	help
	  A sync object driver that uses a 32bit counter to coordinate
	  syncrhronization.  Useful when there is no hardware primitive backing
	  the synchronization.

config SW_SYNC_USER
       bool "Userspace API for SW_SYNC"
       default n
       depends on SW_SYNC
       help
         Provides a user space API to the sw sync object.
         *WARNING* improper use of this can result in deadlocking kernel
	 drivers from userspace.


config DMA_SHARED_BUFFER
	bool "Buffer framework to be shared between drivers"
	default n
	select ANON_INODES
	help
	  This option enables the framework for buffer-sharing between
	  multiple drivers. A buffer is associated with a file using driver
	  APIs extension; the file's descriptor can then be passed on to other
	  driver.

config CMA
	bool "Contiguous Memory Allocator framework"
	# Currently there is only one allocator so force it on
	select CMA_BEST_FIT
	help
	  This enables the Contiguous Memory Allocator framework which
	  allows drivers to allocate big physically-contiguous blocks of
	  memory for use with hardware components that do not support I/O
	  map nor scatter-gather.

	  If you select this option you will also have to select at least
	  one allocator algorithm below.

	  To make use of CMA you need to specify the regions and
	  driver->region mapping on command line when booting the kernel.

config CMA_DEVELOPEMENT
	bool "Include CMA developement features"
	depends on CMA
	help
	  This lets you enable some developement features of the CMA
	  freamework.

config CMA_DEBUG
	bool "CMA debug messages"
	depends on CMA_DEVELOPEMENT
	help
	  Enable debug messages in CMA code.

config CMA_SYSFS
	bool "CMA SysFS interface support"
	depends on CMA_DEVELOPEMENT
	help
	  Enable support for SysFS interface.

config CMA_CMDLINE
	bool "CMA command line parameters support"
	depends on CMA_DEVELOPEMENT
	help
	  Enable support for cma, cma.map and cma.asterisk command line
	  parameters.

config CMA_BEST_FIT
	bool "CMA best-fit allocator"
	depends on CMA
	help
	  This is a best-fit algorithm running in O(n log n) time where
	  n is the number of existing holes (which is never greater then
	  the number of allocated regions and usually much smaller).  It
	  allocates area from the smallest hole that is big enough for
	  allocation in question.

config DMA_CMA
	bool "Contiguous Memory Allocator (EXPERIMENTAL)"
	default n
	select MIGRATION
	help
	  This enables the Contiguous Memory Allocator which allows drivers
	  to allocate big physically-contiguous blocks of memory for use with
	  hardware components that do not support I/O map nor scatter-gather.

	  For more information see <include/linux/dma-contiguous.h>.
	  If unsure, say "n".

if DMA_CMA

config DMA_CMA_DEBUG
	bool "NEW CMA debug messages (DEVELOPMENT)"
	depends on DEBUG_KERNEL
	help
	  Turns on debug messages in CMA.  This produces KERN_DEBUG
	  messages for every CMA call as well as various messages while
	  processing calls such as dma_alloc_from_contiguous().
	  This option does not affect warning and error messages.

endif
