config PM_WATCHDOG_TIMEOUT
	bool "PM Watchdog timeout"
	depends on CPU_EXYNOS4210
	default y
	---help---
	  Enable PM watchdog timer to catch lockup during early_suspend,
	  late_resume and suspend_finish.

config FULL_PAGE_RECLAIM
	bool "Using Full Page Reclaim during Suspend-to-Disk"
	depends on HIBERNATION
	default n
	---help---
	  Reclaim whole pages if possible before creating hibernation snapshot
	  image. For reducing snapshot image size, reclaim them.

	  With this config, the size of hibernation snapshot image is
	  dramatically decreased and small size of hibernation snapshot image
	  has benefit for fast booting.

config FAST_BOOT
	bool "Force suspend and show fake turn off which is same with suspend"
	depends on SUSPEND
	default n
	---help---
	  This allows you go to suspend instead to turn off. If this is
	  done, it goes to wake up instead to turn on. This works with power
	  source.

config HAS_WAKELOCK
	bool

config HAS_EARLYSUSPEND
	bool

config WAKELOCK
	bool "Wake lock"
	depends on PM && RTC_CLASS
	default n
	select HAS_WAKELOCK
	---help---
	  Enable wakelocks. When user space request a sleep state the
	  sleep request will be delayed until no wake locks are held.

config WAKELOCK_STAT
	bool "Wake lock stats"
	depends on WAKELOCK
	default y
	---help---
	  Report wake lock stats in /proc/wakelocks

config USER_WAKELOCK
	bool "Userspace wake locks"
	depends on WAKELOCK
	default y
	---help---
	  User-space wake lock api. Write "lockname" or "lockname timeout"
	  to /sys/power/wake_lock lock and if needed create a wake lock.
	  Write "lockname" to /sys/power/wake_unlock to unlock a user wake
	  lock.

config EARLYSUSPEND
	bool "Early suspend"
	depends on WAKELOCK
	default y
	select HAS_EARLYSUSPEND
	---help---
	  Call early suspend handlers when the user requested sleep state
	  changes.

choice
	prompt "User-space screen access"
	default FB_EARLYSUSPEND if !FRAMEBUFFER_CONSOLE
	default CONSOLE_EARLYSUSPEND
	depends on HAS_EARLYSUSPEND

	config NO_USER_SPACE_SCREEN_ACCESS_CONTROL
		bool "None"

	config CONSOLE_EARLYSUSPEND
		bool "Console switch on early-suspend"
		depends on HAS_EARLYSUSPEND && VT
		---help---
		  Register early suspend handler to perform a console switch to
		  when user-space should stop drawing to the screen and a switch
		  back when it should resume.

	config FB_EARLYSUSPEND
		bool "Sysfs interface"
		depends on HAS_EARLYSUSPEND
		---help---
		  Register early suspend handler that notifies and waits for
		  user-space through sysfs when user-space should stop drawing
		  to the screen and notifies user-space when it should resume.
endchoice

config FAST_RESUME
	bool "Using fast resume during Suspend-to-Disk"
	depends on HIBERNATION
	---help---
	  software_resume() function which triggers hibernation restore is
	  called faster on booting time by introducing new initcalls. This has
	  benefit for fast booting on hibernation

config SUSPEND_TIME
	bool "Log time spent in suspend"
	---help---
	  Prints the time spent in suspend in the kernel log, and
	  keeps statistics on the time spent in suspend in
	  /sys/kernel/debug/suspend_time

config CPU_PM
	bool
	depends on SUSPEND || CPU_IDLE

config PM_WAKELOCKS
	bool "User space wakeup sources interface"
	depends on PM_SLEEP
	default n
	---help---
	Allow user space to create, activate and deactivate wakeup source
	objects with the help of a sysfs-based interface.
