config SPI_S3C64XX
	tristate "Samsung S3C64XX series type SPI"
	depends on (ARCH_S3C64XX || ARCH_S5P64X0 || ARCH_EXYNOS4 || ARCH_EXYNOS5)
	select S3C64XX_DMA if ARCH_S3C64XX
	help
	  SPI driver for Samsung S3C64XX and newer SoCs.
