config BCM4334
	tristate "Bluetooth Lock driver"
	default m
	help
	  say M to compile it as module.

config WIFI_CONTROL_FUNC
	bool "Enable WiFi control function abstraction"
	help
	  Enables Power/Reset/Carddetect function abstraction

source "device/i9300/drivers/net/wireless/bcmdhd/Kconfig"
