source "device/i9300/drivers/base/Kconfig"

# Secure OS Mobicore
source "device/i9300/drivers/gud/Kconfig"

source "device/i9300/drivers/gpu/Kconfig"
source "device/i9300/drivers/leds/Kconfig"
source "device/i9300/drivers/mfd/Kconfig"
source "device/i9300/drivers/mmc/Kconfig"
source "device/i9300/drivers/samsung/Kconfig"
source "device/i9300/drivers/sensor/Kconfig"
source "device/i9300/drivers/thermal/Kconfig"
source "device/i9300/drivers/usb/Kconfig"
