config INPUT_KEYCHORD
	tristate "Key chord input driver support"
	help
	  Say Y here if you want to enable the key chord driver
	  accessible at /dev/keychord.  This driver can be used
	  for receiving notifications when client specified key
	  combinations are pressed.

	  To compile this driver as a module, choose M here: the
	  module will be called keychord.

config INPUT_GPIO
	tristate "GPIO driver support"
	help
	  Say Y here if you want to support gpio based keys, wheels etc...
